@import "tailwindcss";

@theme {
    --font-nunito: "Nunito", sans-serif;
    --color-campus-green: #2e7d32;
    --color-campus-bg: #F0FEEC;
    --color-campus-header: #E3FCDD;
}

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--color-campus-bg);
}
a{
    text-decoration: none;
}
header{
    background-color: var(--color-campus-header);
}
.header-image{
    text-align: center;
    width: 50%;
}
.header-image img{
    max-width: 100%;
    height: auto;
}